{% extends 'base.html' %}
{% block content %}
{{block.super}}
<div class="container">

    <!-- Looping through Images   -->
    {% for image in image %}
  <div class="row">
    <div class ="card">
      <!-- displaying images -->
      <div class="modal-body">
        <p>Name:{{image.image_name}}</p>
        <p >Location:{{image.image_location}}</p>
        <p >Category:{{image.image_category}}</p>
        <img src="{{image.image.url}}" alt="{{image.image_name}}" width="25%" class="img-fluid">

        <p>Description:{{image.image_description}}</p>
      </div>
  
    </div>
  </div>
    {% endfor %}
  
</div>

{% endblock %}